body {
  background-color: white;
  font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Righteous';
  margin-left: 12px;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  color: black;
  /* margin-bottom: 6px; */
}

article {
  margin-left: 36px;
  color: grey;
}

#footer {
  background-color: grey;
  margin-top: 24px;
  padding: 36px;
  text-align: center;
}

#navBar {

}

a {
  padding: 20px;
  color: black;
}

#linkBar {
  background: salmon;
  padding: 24px;
  margin-bottom: 24px;
}

#headerText {
  margin-left: 0px;
  font-size: 48px;
  text-align: center;
  font-style: italic;
  color: salmon;
  background: black;
  padding: 48px;
}

fieldset {
  margin: 24px;
  padding: 10px;
  border: 1px solid #a0a0a0;
}

legend {
  padding: 10px;
  font-family: 'Righteous';
  color: salmon;
}

table {
  border: none;
  margin: 0 auto;
  text-align: center;  
}

tbody {
  color: black;
  background-color: salmon;
}

#data-row #tableData,
#data-row tr {
  border: solid black 1px;
}

th, tfoot, #headrow, td:last-child {
  border: none;
  color: white;
  font-weight: bold;
  background-color: grey;
  padding: 10px;
}

td#totalSales {
  /* This works */
  border: solid red;
  /* This doesn't */
  /* border: none; */
}

/* button {
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #a0a0a0;
} */


ul {
  margin: 40px;
  list-style-type: disc;
}

/* table, td, th, tr {
  border: 1px solid;
  padding: 5px;
} */

#heroImage {
  display: block;
  margin: 0 auto;
}