body {
  margin-top: 30px;
  margin-left: 30px;
}

p {
  margin: 40px;
  font-weight: bold;
}

h2 {
  margin: 40px;
  font-weight: bold;
}

ul {
  margin: 40px;
  list-style-type: disc;
}

table, td, th, tr {
  border: 1px solid;
  padding: 5px;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}